{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <h1>M e  p a g e</h1>

    <a href="{{ asset('img/me.jpg') }}">
        <img src="{{ asset('img/me.jpg') }}" width="150px" alt="">
    </a>

    <p>Mitt namn är Déspina.
        Född och uppvuxen i Jönköping, Småland.
        Under mina skolår bodde jag i Uppsala och flyttade efter gymnasiet till Göteborg där jag fortfarande är bosatt.
        Under min uppväxt spelade jag tennis flera gånger i veckan och var generellt väldigt fysisk aktiv.
        Nu tränar jag mest löpning på våren och sommaren om vädret är bra.
        Jag har testat på att jobba i snabbmatsrestaurang, juicebar och klädesbutik.
        Har även läst 1,5 år på tandläkarprogrammet och kurser i språk och matematik på universitetet.
    </p>

    <p>
        Programmering är något helt nytt för mig.
        Innan jag började på programmet webbprogrammering på BTH på distans hade jag ingen aning 
        om att det fanns olika programmeringsspråk eller att det ligger så mycket bakom att skapa en hemsida.
        Om jag skall nämna någon hobby, förutom träning, så får det bli att läsa och lära mig nya saker.
        Jag älskar att umgås med mina vänner och hjälpa människor.
    </p>
    
    <p>
        Detta var lite kort om mig :D.
    </p>
{% endblock %}